.web-projectcard-container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: #1F2229;
    padding: 20px;
    margin-bottom: 20px;
}

.web-project-title-container {
    display: flex;
    flex-direction: row;
}

.web-projectcard-container:hover {
    background-color: #282C34;
    cursor: pointer;
}

.web-project-img {
    width: 10em;
    height: 10em;
    border-radius: 10px;
}

.web-project-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: azure;
    padding-left: 2em;
}

.web-project-title {
    font-size: 30px;
    padding-bottom: 0.5em;
}

.web-project-desc {
    font-size: 17px;
}

.web-projectcard-language-container {
    margin-top: 1em;
    width: max-content;
}

.web-language-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
