:root {
    --reactNative: #F1E05A;
    --react: #F1E05A;
    --swift: #FFAC45;
    --dart: #03B4AA;
}

.web-projectcard-container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: #1F2229;
    padding: 20px;
    margin-bottom: 20px;
}

.web-project-title-container {
    display: flex;
    flex-direction: row;
}

.web-projectcard-container:hover {
    background-color: #282C34;
    cursor: pointer;
}

.web-project-img {
    width: 10em;
    height: 10em;
    border-radius: 10px;
}

.web-project-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: azure;
    padding-left: 2em;
}

.web-project-title {
    font-size: 30px;
    padding-bottom: 0.5em;
}

.web-project-desc {
    font-size: 17px;
}

.web-projectcard-language-container {
    width: max-content;
}

.web-language-container {
    margin-bottom: 0.5em;
    margin-top: 1.5em;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: 5px;
    display: flex;
    font-family: Lato-Bold;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1em;
}

.swift {
    background-color: var(--swift);
}

.react-native {
    background-color: var(--reactNative);
}

.react {
    background-color: var(--react);
}

.dart {
    background-color: var(--dart);
}
